body {
    margin: 20px;
    font-family: 'Tahoma', Geneva, Verdana, sans-serif;
    
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: left;
    background-image: linear-gradient(#7209b7, #4361ee);
    color: #e5e5e5;
    font-weight: bold;
    -webkit-text-stroke: 1px #212529;
    box-shadow: 10px 10px 5px 0px rgba(96,84,222,0.75);
    border-radius: 10px;

}
